/* Main Styling */
/* 
    Fonts:
    font-family: 'Khula', sans-serif;

    Colors:
        Navbar:
        color: rgb(255, 255, 255);

        Background Color:
        background: #BABAAB;
*/

body, html{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-top: 0px;
    font-family: 'Khula', sans-serif;
}

/* =================================Navbar============================================== */

.navbar-brand {
    font-size: 1.7rem;

}

/* h1, h2, h3, h4, h5, h6, p, a, ul {
    font-family: 'Khula';
} */
/* 
.navbar {
    height: 70px;
} */

.bg-dark {
    background-color: #171e30!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(0, 210, 144);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(29, 245, 177);
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    font-size: 17px;
}

/* =================================Search Page========================================= */
.search-page {
    opacity: 1;
    font-family: 'Khula', sans-serif;
    /* height: 100vh; */
    padding-bottom: 10px;
}

.search-layout{
    padding-top: 1px;
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 50px;
}

.search-container{
    padding-left: 7px;
}

.search-layout h1{
    font-size: 4rem;
    color: #171e30; 
}

.search-layout h4{
    font-size: 1.5rem;
    color: #171e30; 
    margin-top: 12px;
}

.ui.button:hover {
    background-color: rgba(29, 245, 177);
    background-image: none;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    color: #171e30;
}

.ui.button{
    background-color: rgb(0, 210, 144);
    color: #171e30;
}

.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0 .42857143em 0 -.21428571em;
    margin-right: 0px;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
    font-family: 'Khula', sans-serif;
    border: 1px solid #171e30;
    color: #171e30;
}

.ui.checkbox label, .ui.checkbox+label {
    color: #171e30;
}

.error{
    color: red;
}

/* ========List of Medicines=========== */

.makeStyles-heading-9 {
    color: #171e30;
}

.medicine-list{
    margin-top: 30px;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    font-family: 'Khula', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Khula', sans-serif;
    color: #171e30;
}

.MuiAccordion-rounded{
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .MuiContainer-root{
      width: 90%;
    }
}


/* Selected Medicine Component */

.dosage-form-segment{
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
}

.dosage-form-segment:hover{
    background-color: rgba(29, 245, 177);
}

.dosage-form-segment p{
    color: #171e30;
}

/* ==================================Location Page====================================== */

.MuiTouchRipple-root:focus {
    outline: none;
}

button:focus {
    outline: none;
    outline: none;
}

/* =============================Map Container========================= */

.location-page{
    height: 100%;
    padding-bottom: 40px;
}

.main-div{
    height: 470px;
    display: block;
}


.map-container{
    width: 100%;
}

.autocomplete{
    width: 60%;
    height: 40px;
    padding-left: 16px;
    border-radius: 5px;
    box-shadow: 0 0;
    display: block;
    position: relative;
    z-index: 999;
    margin-left:auto ;
    margin-right:auto ;
    margin-top: 30px;
    border: 2px solid rgb(0, 210, 144)!important;
}

.map{
    position: relative;
    display: block;
    width: 100%;
    margin-top: -70px;
}

.gmnoprint{
    display: none;
}


/* =======================================Check out =========================================== */

.checkout-card{
    width: 100%!important;
    height: 330px!important;
    min-height: 330px!important;
}

.btn-primary {
    background-color: rgb(0, 210, 144);
    border-color: rgb(0, 210, 144);
}

.btn-primary:hover {
    color: #fff;
    background-color:rgba(29, 245, 177);
    border-color: rgba(29, 245, 177);
}

.qty-input{
    color: red;
}

.qty-input-textbox{
    width: 440px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .qty-input-textbox{
        width: 340px;
        margin-bottom: 10px;
    }
}

/* ======================Medicine Section================================= */

.med-section{
    /* border: 1px solid black; */
    padding: 10px;
}

.icon-right{
    float: right;
}

.custom-card{
    padding: 20px;
}

.ui.card, .ui.cards > .card {
    width: 90%;
    height: 270px;
    min-height: 270px;
}

.ui.card > .extra, .ui.cards > .card > .extra {
    height: 70%;
}

.ui.card > .content, .ui.cards > .card > .content {
    color: #171e30;
    font-family: 'khula', sans-serif;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header {
    
    font-family: 'Khula', sans-serif;
    color: #171e30;
}

.ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui) {
    font-weight: 700;
    font-size: 2em;
    margin-top: -0.21425em;
    line-height: 1.28571em;
}

.ui.card>.extra a:not(.ui):hover, .ui.cards>.card>.extra a:not(.ui):hover {
    color: rgba(0,0,0,.4);
}

.overflow-list{
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    .ui.card, .ui.cards > .card {
        width: 100%;
    }
}

.ui.list .list>.item .header, .ui.list>.item .header {
    display: block;
    margin: 0;
    font-family: 'Khula', sans-serif;
    color: rgb(0, 210, 144);
    font-weight: 700;
    cursor: pointer;
}

.ui.list .list>.item .header, .ui.list>.item .header:hover {
    display: block;
    margin: 0;
    font-family: 'Khula', sans-serif;
    color:#171e30;
    cursor: pointer;
}

.ui.list .list > .item .description, .ui.list > .item .description {
    display: block;
    color: rgba(0,0,0,.7);
}


/* =======================================Order Page=========================================== */

.MuiChip-outlinedPrimary {
    color: rgb(0, 210, 144)!important;
    border: 1px solid rgb(0, 210, 144)!important ;
    margin-top: 10px;
}

.order-container {
    margin: 10px;
    padding: 10px;
}

.ui.list .list > .item a.header, .ui.list > .item a.header {
    color: rgb(0, 210, 144) !important;
    margin-bottom: 3px;
}

.ui.list .list>.item a.header:hover, .ui.list>.item a.header:hover {
    color: #171e30!important;
}

.ui.list .list > .item .description, .ui.list > .item .description {
    display: block;
    color: #171e30;
}

.ui.list .list > .item a, .ui.list > .item a {
    cursor: context-menu;
}

.ui.list .list > .item > i.icon, .ui.list > .item > i.icon {
    color: rgb(0, 210, 144);
}
